# Guide how to use pip-tools: https://medium.com/@ramalhodevitor/abandon-requirements-txt-for-managing-dependencies-in-python-immediately-50b1c45b824a
# run "pip3 install pip-tools"
# run "pip-compile ./requirements.in" to generate or refresh requirements.txt
tensorflow
tensorboard
transformers
torch
scipy
ipywidgets