# Guide how to use pip-tools: https://medium.com/@ramalhodevitor/abandon-requirements-txt-for-managing-dependencies-in-python-immediately-50b1c45b824a
# run "pip install pip-tools"
# run "pip-compile ./requirements.in" to generate or refresh requirements.txt

# embeddings.ipynb
tensorflow
tensorboard
transformers
torch
scipy
ipywidgets

# perspective_api.ipynb
google-api-python-client

# emotions.ipynb
pandas
tensorflow_hub
wget
sentencepiece
sklearn
plotly

# neutralizing-bias
pytorch-pretrained-bert==0.3.0
torch
torchvision
tensorboardX
simplediff
nltk
sklearn
mwparserfromhell
#python-Levenshtein
autocorrect
future
spacy