# https://medium.com/@ramalhodevitor/abandon-requirements-txt-for-managing-dependencies-in-python-immediately-50b1c45b824a
# pip-compile ./requirements.in   
tensorflow
tensorboard
transformers
torch
scipy